/* Estilos Generales */

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --main-bg-color: #F3613C;
    --secon-bg-color: #1E1E26;
    --bg-color-button: #F3603B;
    --tex-color-main: #232C50;
    --text-color-secon: #B3B2B7;
    --text-bg-color:#FFFFFF;
    --terc-bg-color:#FFEFEA;
}

body {
    background-image: url(../imagenes/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    font-family: 'Be Vietnam Pro', sans-serif;
}

li, a {
    list-style-type: none;
    text-decoration: none;
}

/* Barra de navegación */

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;    
    padding: 4% 10% 0%;
    width: 100%;
}

.menu {
    display: flex;    
}

nav ul li a {
    color: var(--tex-color-main);
    font-size: 0.8rem;
    padding: 10px;   
}

nav a:hover,
nav a:active{
    color:var(--text-color-secon);
    filter: brightness(80%);
}

.open-menu, .close-menu {
    display: none;
}

.boton, span { 
    background-color: var(--bg-color-button); 
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color:var(--text-bg-color);
    font-weight: 700;
    font-size: 0.8rem;
    padding: 1.6% 4%;        
}

span{cursor:auto;}

.boton:hover{
    filter: brightness(135%);
}

/* Sections */

/* Section-1*/
    /* Home */

.section-1{
    margin: 5% auto;
    padding: 0% 10%;
    }

.home {text-align: center;
}

.home-img{
    max-width: 580px;
    width: 100%;     
}

h1 {
    color: var(--tex-color-main);
    font-weight: 700;
    font-size:2.5rem ;    
}

p{
    font-weight:500;
    line-height:26px;
    padding: 4% 0%;    
}

.home .boton{
    margin-top: 3%;
}

    /* Sobre nosotros */

.nosotros{
    margin: 20% 0;}

.nosotros-caja1 {
    margin: 0% 0% 8%;
    text-align:center;
}

h2{
    color: var(--tex-color-main);
    font-weight: 700;
    font-size:2rem ;
    text-align: center;
}

.nosotros-caja2>p {
    color: var(--text-color-secon);
    font-weight: 500;
    text-align: left;   
}

h4{
    color: var(--tex-color-main);
}

.nosotros-caja2 div h4{
    background-color: var(--terc-bg-color);
    border-radius: 50px 0px 0px 50px;
    padding: 1.5% 0%;
    width: 100%;    
}
.nosotros-caja2 span{align-self: center;}

span{margin-right: 4%;}

/* Section-3 */
    /* Testimonios */

.contenedor-testimonios{
    text-align: center;    
}

.avatar{
    bottom: 87%;
    height: 65px;
    left: 40%;
    position: absolute;  
    width: 65px;
}

.testimonio-2, .testimonio-3 {display: none;}

.testimonios div p{
    color: var(--text-color-secon);
    font-weight: 500;     
}

.testimonio-1, .testimonio-2, .testimonio-3{    
    background-color: #FAFAFA;
    margin-top: 20%; 
    position: relative;
    padding: 10% 8%;
    text-align: center;
}

.contenedor-testimonios .boton{ 
    margin: 10% 0% 15%;
}

/* Section-2 */

.section-2 h2{
    color: var(--text-bg-color);
    font-weight: 700;
    font-size: 2 rem;
    line-height: 1.3;    
    padding: 0%;
}

.section3,.section-2{
    background-color:var(--main-bg-color);    
    padding: 20% 5%;
    text-align: center;
}

.section-2 .boton{
    background-color: var(--text-bg-color);
    color: var(--bg-color-button);
    margin-top: 10%;
}

/* Footer*/

footer {
    background-color: var(--secon-bg-color);
    padding: 4% 10%;
    text-align: center;
    
}

.footer-lista{
    display: flex;
    justify-content: space-around ;
    text-align: left;
}

form, .footer-lista, .footer-redes div {
    padding: 6%;
}

footer p{
    color: var(--text-color-secon);
    font-size: 0.65rem;
    padding: 0%;
}

.footer-lista ul li a {
    color: var(--text-bg-color);
    font-size: 12px;
    line-height: 22px;
}

input {
    border-radius: 20px;
    border:none;
    font-size: 0.7rem;
    padding: 1.8% 4%; 
    color:var(--main-bg-color);     
    }   

.footer-lista a:hover,
.footer-lista a:active{
    color: var(--main-bg-color);
    filter: brightness(130%);       
}

/* Media queries */

    /* Navegador */
@media (max-width: 400px) {

.menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: var(--terc-bg-color);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    opacity: 0;
}

nav ul li a {
    line-height: 30px;
}

.open-menu, .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    padding: 3%;
}

.close-menu {
    align-self: flex-end;
    padding: 3% 4.6%;
}

nav .boton{
    display: none;}
}


@media (min-width: 950px) {

/* Section-1 */
    /* Home */

    .home, .nosotros{
        display: flex;
        justify-content: space-between;
    }
    
    .home{
        align-items: center;
        flex-direction: row-reverse;        
        margin: 0 auto;
        padding-top: 5%;
        text-align:left;
        width: 100%;
    }

    .home div{
        width:  40%;}
    
    .nosotros {
        align-items: flex-start;
        margin: 7% 0%;
        width: 100%;
    }

    .nosotros-caja2{
        margin-left: 15%;}

    .nosotros-caja1, .nosotros-caja1 h2 {
        margin: 0%;
        text-align:left;
    }

    .nosotros-caja2 div h4{
        background:none;
    }

    .nosotros-caja2 p{
        padding-left: 15%;
    }    

/* Section-3 */
    /* Testimonios */

.avatar{
    bottom: 90%;
    left: 39.5%;
    }

.testimonios{display: flex;
}

.testimonio-2, .testimonio-3 {display:block ;}

.testimonio-1, .testimonio-2, .testimonio-3{
    margin: 9% 1% 3%;
    padding: 5% 3%;   
}

.contenedor-testimonios .boton{ margin: 2% 0% 12%;}

/* Section-2 */

.section-2{
    display: flex;
    justify-content: space-between;
    padding: 4% 10%;    
}

.section-2 .boton{
    margin-top: 0%;
}

.section-2 h2{
    flex-grow: 0.5;
}

/* Footer*/

footer {
    display: flex;
    justify-content: space-between;
}

.footer-lista ul li{
    margin-right: 80px;
}

form, .footer-lista, .footer-redes div {
    padding: 0%;
}

.footer-redes{
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5%;
}

form{
    order: 1;
    width: 25%;   
}

}